:root {
  --bg-color: var(--gray-80);
  // Primary color
  --primary-default: #b7ec5d;
  --primary-dark: #648d1e;
  --primary-frame: rgba(183, 236, 93, 0.3);
  --primary-linear: linear-gradient(
    270deg,
    rgba(183, 236, 93, 0) -6.5%,
    rgba(183, 236, 93, 0.1) 85.58%,
    rgba(183, 236, 93, 0.3) 100%
  );
  // Secondary color
  --secondary-default: #4d4d4d;
  --secondary-dark: #222222;
  --secondary-tint: #f5f5f5;
  // success color
  --success-default: #b7ec5d;
  --success-dark: #648d1e;
  --success-tint: #d9ff99;
  // danger color
  --danger-default: #f93819;
  --danger-dark: #a01600;
  --danger-tint: #ffa394;
  // Pen color
  --pen-black: #000000;
  --pen-blue: #0066ff;
  --pen-red: #f93819;
  // Gray color
  --gray-90: #1a1a1a;
  --gray-80: #333333;
  --gray-70: #4d4d4d;
  --gray-60: #666666;
  --gray-50: #808080;
  --gray-40: #999999;
  --gray-30: #b3b3b3;
  --gray-20: #cccccc;
  --gray-10: #cccccc;
}
